
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="row" style="margin-left:110px">
    <div class="tesla-carousel-items">
       @Html.ActionLink("Yeni Talep Ekle", "TalepEkle", null, new { @class = "btn btn-success" })
    </div>
</div>



